
 
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><h1>OwockiApp</h1></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
      
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Główna</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/owocki">Owocki</a>
      </li>

    
    </ul>
  </div>
  <app-search-owocki class="me-5"></app-search-owocki>
</nav>


<div class="container">
    <div class="row">
      <div class="col-sm-9">
        <router-outlet></router-outlet>
        
      </div>
      <div class="col-sm-3">
        <app-message-component></app-message-component>
      </div>

    </div>
  </div>